.demo{
    /* margin: 5px;
    padding-left: 20px; */
    background-color: springgreen;
}
.form{
    background-color: teal;
    margin-left: 20px;
}

button{
    color: green;
    background-color: indianred;
}